.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.main__text {
  display: flex;
  justify-content: center;
}

.assay__text {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; */
  font-family: 'Times New Roman', Times, serif;
  font-size: 19px;
}

.bold__word {
  font-weight: 700;
}

.assotive__sign {
  color: red;
}